---
title: Build Better Prototypes with Veams
menuLink: Components
sortOrder: 02
---

{{#extend "lyt-default"}}
	{{#content "main"}}
		<h3>Place your components here!</h3>


		{{#with cta-bp.simple}}
			{{> c-cta}}
		{{/with}}


		{{#with rte-bp.single}}
			{{> c-rte}}
		{{/with}}

		{{#with rte-bp.full}}
			{{> c-rte}}
		{{/with}}


		{{#with picture-bp}}
			{{> c-picture}}
		{{/with}}


		{{#with figure-bp.simple}}
			{{> c-figure}}
		{{/with}}

		{{#with figure-bp.caption}}
			{{> c-figure}}
		{{/with}}

		{{#with figure-bp.video}}
			{{> c-figure}}
		{{/with}}


		{{#with video-bp}}
			{{> c-video}}
		{{/with}}


		{{#with article-bp.simple}}
			{{> c-article}}
		{{/with}}

		{{#with article-bp.articleWithImage}}
			{{> c-article}}
		{{/with}}

		{{#with article-bp.multipleContent}}
			{{> c-article}}
		{{/with}}



		{{! wrapWith START: Slider }}
		{{#with slider-bp.simple}}
			{{#wrapWith "c-slider"}}
				{{#wrapWith "c-slider__item"}}
					<img src="https://placeholdit.imgix.net/~text?txtsize=92&txt=980%C3%97600&w=980&h=600" alt="test">
				{{/wrapWith}}
				{{#wrapWith "c-slider__item"}}
					<img src="https://placeholdit.imgix.net/~text?txtsize=92&txt=980%C3%97600&w=980&h=600" alt="test">
				{{/wrapWith}}
				{{#wrapWith "c-slider__item"}}
					<img src="https://placeholdit.imgix.net/~text?txtsize=92&txt=980%C3%97600&w=980&h=600" alt="test">
				{{/wrapWith}}
			{{/wrapWith}}
		{{/with}}
		{{! wrapWith END: Slider}}


		{{#with badge-bp}}
			{{#each data}}
				{{> c-badge this}}
			{{/each}}
		{{/with}}


		{{#with table-bp.tableWithHead}}
			{{> c-table}}
		{{/with}}

		{{#with table-bp.tableHeadLeft}}
			{{> c-table}}
		{{/with}}

		{{#with table-bp.tableWithoutHead}}
			{{> c-table}}
		{{/with}}


		{{#with yt-video-bp}}
			{{> c-yt-video}}
		{{/with}}


{{#with pagination-bp.simple}}
	{{> c-pagination}}
{{/with}}


{{#with quote-bp.simple}}
	{{> c-quote }}
{{/with}}

{{#with quote-bp.full}}
	{{> c-quote }}
{{/with}}


<div class="wrapper" data-js-module="equal-rows" data-js-options='{"lastRowClass": "is-last-row"}'>
	<div class="teaser is-grid-33" data-js-atom="equal-child">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias animi consectetur cum cumque dolore eum facilis hic ipsam iure nisi nostrum obcaecati, officia omnis porro quas quo quos recusandae.</div>
	<div class="teaser is-grid-33" data-js-atom="equal-child">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ex excepturi nobis numquam rem, repellendus sequi voluptatem? Asperiores consequatur, dicta fugiat, iure nihil optio qui quo rerum sint tenetur veritatis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores expedita illo incidunt, itaque placeat quas. Amet beatae cupiditate dignissimos, doloribus ipsa magni, odio omnis quisquam quod sapiente, ullam ut voluptatum.</div>
	<div class="teaser is-grid-33" data-js-atom="equal-child">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque cumque dolorem ducimus ea earum, ex ipsam iusto labore laborum nam, necessitatibus neque nesciunt officia quo similique suscipit ut velit.</div>
	<div class="teaser is-grid-33" data-js-atom="equal-child">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
	<div class="teaser is-grid-33" data-js-atom="equal-child">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ex excepturi nobis numquam rem, repellendus sequi voluptatem? Asperiores consequatur, dicta fugiat, iure nihil optio qui quo rerum sint tenetur veritatis? Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
	<div class="teaser is-grid-33" data-js-atom="equal-child">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
</div>

	{{! @INSERTPOINT :: @ref: component-partial }}
	{{/content}}
{{/extend}}
