---
title: Veams - A System to Build Scalable Web Apps and HTML5 Web Interfaces.
lead: Components and utilities built with Veams.
menuLink: Utilities
sortOrder: 02
sitemap: navigation
---

{{#extend "lyt-default"}}
	{{#content "main"}}

	{{! WrapWith START: Section }}
		{{#wrapWith "u-section" headline="Grid" bash="install vu grid"}}
			{{> demo-grid }}
		{{/wrapWith}}
		{{! WrapWith END: Section }}

	{{! WrapWith START: Section }}
		{{#wrapWith "u-section" headline="Sticky" bash="install vu sticky"}}
			<div id="sticky" data-js-module="sticky" class="sticky-content">Sticky Content</div>

			{{#times 5}}
				{{#with ../rte-bp.single}}
					{{> c-rte}}
				{{/with}}
			{{/times}}

		{{/wrapWith}}
		{{! WrapWith END: Section }}



	{{/content}}
{{/extend}}
