/* ===================================================
Global: section
=================================================== */

.u-section {
	margin-bottom: 16rem;

	.section__headline {
		border-top: 2px solid lighten(color(highlight-dark), 65);
		font-size: 2.5rem;
		font-weight: $font-light;
		line-height: 1.5;
		margin: 2.75rem 0 4rem 0;
		padding-top: 1rem;
		text-transform: uppercase;
		color: lighten(color(highlight-dark), 45);
		text-align: center;
	}

	.section__footer {
		overflow: hidden;
	}

	.section__h3 {
		font-size: 1.9rem;
		font-weight: $font-bold;
		line-height: 1.35;

		margin: 1rem 0;
		padding: 1rem;
		text-align: center;

		color: #000;
		background: lighten(color(highlight-main), 20);
	}

	.section__code {
		text-align: center;
	}
}