.is-container {
	max-width: $max-width;
	margin: 0 auto;
	padding: 0 1rem;
}

/* ---------------------------------------------------
Colors
--------------------------------------------------- */
.is-red {
	background-color: #ED0A00;
}

.is-grey {
	background-color: #bab0b8;
}

.is-light-red {
	background-color: #ff514f;
}

/* ---------------------------------------------------
layout
--------------------------------------------------- */
.is-centered {
	text-align: center;
}

.isnt-scrollable {
	overflow: hidden;
}

/* ---------------------------------------------------
Logo Modifiers
--------------------------------------------------- */
.is-veams {
	@include sprites-veams-std();
}
