//@import "../../bower-components/neat/app/assets/stylesheets/neat-helpers";

// Global settings
@lost flexbox flex;
@lost gutter 30px;

// Uncomment this in development to visualize the entire grid structure of your site
body {
	// lost-utility: edit;
}

/* ---------------------------------------------------
Width
--------------------------------------------------- */
$max-width: 1360px;

/* ---------------------------------------------------
Breakpoints
--------------------------------------------------- */
$bp: (
	tablet-l: 1024px,
	tablet-p: 768px,
	mobile-l: 640px,
	mobile-p: 480px
);

/* ---------------------------------------------------
Colors
--------------------------------------------------- */
$color-grey-light: lighten(#373737, 65);

$colors: (
	highlight-main-dark: #499EA2,
	highlight-main: #A4CED0,
	highlight-dark: #373737,
	highlight-light: #F5F5F5,
	white: #fff
);

/* ---------------------------------------------------
Backgrounds
--------------------------------------------------- */
$bg-pattern: url('../img/bg-pattern.png');

/* ---------------------------------------------------
Fonts
--------------------------------------------------- */
$font-family: "Roboto", "Helvetica", "Arial", sans-serif;
$font-light: 300;
$font-normal: 400;
$font-bold: 900;