{{! ---
block: b-nav
============================================

Requirements:
- (only hbs)

Options:
- navClasses {String} - Modifier classes

Important Notes:

--- }}

<div class="b-nav{{#if navClasses}} {{navClasses}}{{/if}}">
	{{#each sitemap}}
		<ul class="nav__list">
			{{#withSort ../pages "data.sortOrder"}}
				{{#is data.sitemap ../sitemap}}
					<li class="nav__list-item">
						<a href="{{autolink}}" class="nav__link{{#is ../../../page.dest ../this.dest}} is-active{{/is}}">
							{{data.menuLink}}
						</a>
					</li>
				{{/is}}
			{{/withSort}}
		</ul>
	{{/each}}
</div>
